$blue:#1368A5;
$lightblue:#CCE1EC;

$blue-c:#5B93FF;
$lightblue-c:#5B93FF1a;
$yellow-c:#FFC328;
$lightyellow-c:#FFC3281a;
$orange-c:#FF8F6B;
$lightorange-c:#FF8F6B1a;
$purple-c:#605BFF;
$lightpurple-c:#615bff1a;